@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
  body {
  padding-top: 70px;
  background:white url("/Assets/BG.jpg") repeat ; 
}

  body::-webkit-scrollbar {
  width: 7.5px;
}
 
  body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
  body::-webkit-scrollbar-thumb {
  background-color: #336699;
  outline: 2px solid rgba(0, 0, 0, 0.473);
}

  a {
  color:#f0f8ff;

}

  a:hover{
  color:#fec136;
}

 .websitelinks{
color: #776b6b8e;

 }

  footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0,0, 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

  nav {
  width: 100%;
}
  .resumeimg {
  width: 124px;
  height: 124px;
  float: right;
  border-radius: 50%;
  opacity: 80%;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

  .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

  .video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.video-responsiveBlog {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsiveBlog iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

  .testimonial {
  width: 50px;
  height: 50px;
  float: right;
  border-radius: 50px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

  .testimonialmodalpic {
  width: 180px;
  height: 180px;
}

  .testimonial2 {
  width: 100px;
  float: right;
}

  .discord {
  width: 50px;
  height: 50px;
  float: left;
}

  .testimonialface {
  width: 180px;
  height: 180px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

  .rating {
  width: 180px;
}

  .backgroundjumbo {
  width: 800px;
  height: 600px;
  background-color:#33669960;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
  border-radius: 50px;
  color: #fff;
  padding:20px;
}

  .backgroundjumbo1 {
  width: 100%;
  height: 100%;
  background-color:#ffffff60;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
  border-radius: 50px;
  color: #fff;
  padding:20px;
}

  .backgroundlogin {
  width: 800px;
  height: 400px;
  background-color:#33669960;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
  border-radius: 50px;
  color: #fff;
  padding:20px;
}

  .backgroundcontainer {
  width: 500px;
  height: 200px;
  background-color:#ffffffa8;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
  border-radius: 5px;
  color: #000;
  padding:20px;
  }  
  
  .bottombuttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

  .video-responsive{
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
  opacity: 80%;
  border-radius: 5px;
}

  .video-responsiveBlog{
  opacity: 80%;
  border-radius: 5px;
}

  .bannerimg{
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
  opacity: 80%;
  border-radius: 5px;
}

  .reactplayer{
  width: 200px;
  }

  .demolink{
  color:#336699;
}

  .navimg{
  border-radius: 50%;
  width: 32px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}

  .ref{
  border-radius: 15px;
  width: 250px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
}
  .footericons{
  float: right;
}

  .login {
  position: relative;
  display: inline-block;
  margin: 5px;
}

  .shall {
    border-radius: 50px;
    opacity: 80%;
    width: 150px;
}
  
  .login .img-top {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 99;
  border-radius: 50px;
  opacity: 80%;
  width: 150px;
}

  .login:hover .img-top {
   display: inline;
}

  .york {
  height: 25px;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.42), 0px 10.7776px 10.4221px rgba(0, 0, 0, 0.301919);
  border-radius: 5px;
  opacity: 80%;
}

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

  .fire-text {
  font-family: 'Metal Mania', cursive;
  text-transform: uppercase;
  color: #000000;
  font-size: 5em;
  position: relative;
  display: inline-block;
  margin: 0;
  padding-top: 0.6em;
  margin: 1rem 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}

  .fire-text:after {
  content: '';
  display: block;
  width: 100%;
  height: 1.5em;
  background: url('/assets/portfolio/appBanners/firewords.gif') repeat-x;
  background-size: contain;
  position: absolute;
  top: 0;
  z-index: -1;
  background-position: center;
}
  .Appimg{
  opacity: 80%;
  border-radius: 5px;
}

  .radis{
  opacity: 99%;
  border-radius: 5px;
}
  hr.yellow{
  background-color: #fec136;
}

  .SP{
  width: 400px;
}

  .adminpanel{
  width: 400px;
}
